
/* Definiera standard typsnitt, bakgrundsbild och höjd för body och html taggar */
html, body { 
  font-family: Arial, sans-serif; /* Ange typsnittet för texten till Arial och sans-serif som reserv */
  height: 100%;  
  background-image: linear-gradient(to bottom, #111, #444); /* Skapa en linjär gradientbakgrund från toppen till botten, börjar med färg #111 och övergår till färg #444 */
  margin: 0; /* Ange marginalen runt elementen till 0 för att ta bort eventuellt ytterligare utrymme */
  color: #ffffff; /* Ange textfärgen till vit (#ffffff) för alla element som är barn till <html> och <body> */
}

/* Definiera en CSS-nyckelram med namnet "fadeInMoveUp" */
@keyframes fadeInMoveUp {  
  0% { /* Det här är startpunkten (0%) för animationen */
    opacity: 0; /* Elementet börjar med en opacitet på 0 (helt genomskinlig) */
    transform: translateY(20px); /* Elementet börjar 20px under sin slutliga position */
  }
  
  100% { /* Det här är slutpunkten (100%) för animationen */
    opacity: 1; /* Elementet slutar med en opacitet på 1 (helt opak) */
    transform: translateY(0); /* Elementet slutar på sin slutliga position (ingen förflyttning längs Y-axeln) */
  }
}

/* Använd nyckelramen "fadeInMoveUp" för att animera h1, h2, h3, p och ul element */
h1, h2, h3, p, ul {
  animation: fadeInMoveUp 1s ease-out forwards; /* Applicera nyckelramen "fadeInMoveUp" med en varaktighet på 1 sekund och en "ease-out" timing function */
}

/* Ange styling för klassen "start-heading" */
.start-heading {
  padding-left: 15px; /* Justera vänsterutfyllnaden till 15px */
}

/* Ange styling för efterföljande innehåll efter klassen "start-heading" */
.start-heading::after {
  content: ""; /* Skapa en tom innehållsbox */
  display: inline-block; /* Visa elementet som en block, men låt andra element placeras bredvid det */
  width: 800px; /* Justera bredden på linjen som visas efter rubriken */
  height: 2px; /* Justera höjden på linjen */
  background-color: white; /* Ange bakgrundsfärgen för linjen till vit */
  margin-left: 20px; /* Justera marginalen mellan linjen och rubriken */
  vertical-align: middle; /* Centrera linjen vertikalt med rubriken */
}

/* Ange styling för klassen "start-section" */
.start-section {
  padding-left: 30px; /* Justera vänsterutfyllnaden till 30px */
}
	
/* Ange styling för klassen "help-menu" */
.help-menu {
  display: flex; /* Visa elementen inuti "help-menu" i en flexbox */
  justify-content: space-between; /* Centrera elementen horisontellt med lika mycket utrymme mellan dem */
  align-items: center; /* Centrera elementen vertikalt */
  padding: 5px 10px; /* Justera utfyllnaden för "help-menu" till 5px (topp och botten) och 10px (vänster och höger) */
}

/* Ange styling för bilder inuti "help-menu" */
.help-menu img {
  height: auto; /* Justera höjden på bilderna automatiskt för att bibehålla proportionerna */
  margin-left: 5px; /* Justera marginalen mellan bilderna och andra element inuti "help-menu" */
}

/* Ange styling för klassen "logo-image" */
.logo-image {
  width: 90px; /* Adjust the logo image width as needed */
  height: auto;
  margin-left: 5px;
  border-radius: 50%;
  margin-top: 15px;
}
	
/* Återställ margin och padding för "body" till 0 */		
	 body {
        margin: 0;
        padding: 0;
    }
	
/* Ange styling för "footer" */	
footer {
  background-color: #1B4D3E; /* Ange bakgrundsfärgen för "footer" */
  color: white; /* Ange textfärgen för "footer" till vit */
  text-align: center; /* Centrera innehållet inuti "footer" horisontellt */
  padding: 20px; /* Justera utfyllnaden för "footer" */
  position: absolute; /* Ange positionen för "footer" som absolut */
  width: 100%; /* Ange bredden på "footer" till 100% */
  bottom: 0; /* Placera "footer" längst ned på sidan */
}

/* Ange styling för element inuti "footer-section" */
.footer-section {
  margin-bottom: 20px;
}
/* Ange styling för rubriker inuti "footer-section" */
.footer-section h3 {
 margin-bottom: 10px; /* Justera marginalen mellan rubrikerna och föregående element */
  font-size: 1.2em; /* Justera typsnittets storlek på rubrikerna */
}
/* Återställ list-stilen för <ul> och ta bort margin och padding */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Justera marginalen mellan <li>-elementen */
li {
  margin-bottom: 5px;
}
/* Ange styling för länkar */
a {
  color: white;
  text-decoration: none;
}
/* Ange styling för "footer-bottom" */
.footer-bottom {
  font-size: 0.8em;
}

/* för responsiva texter*/

/* justera typsnittstorleken för mindre skärmar */
@media screen and (max-width: 600px) {
  body, h1, h2, h3, p, ul {
    font-size: 1em;
  }
}

/* justera typsnittstorleken för större skärmar */
@media screen and (min-width: 1200px) {
  body, h1, h2, h3, p, ul {
    font-size: 1em;
  }
}
